<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"> -->
</head>
<% include partials/scripts.ejs %>
<body onload="loadAllComplaintsForAdmin()">
    <% include partials/navbar-admin.ejs %>
    <!-- complaints -->
    <p id="adminCheck"><%= superAdmin %></p>
    <main>
        <div class="heading">
            <h1 class="text-center">All Suggestions &amp; Objections</h1>
        </div>
        <div class="top-margin-table">
            <div class="container">
                    <div class="complaint-table">
                        <table class="scroll" cellspacing="" cellpadding="10">
                            <thead class="fixed-thead">
                                <tr>
                                    <th scope="col" class="th-font">Id</th>
                                    <th scope="col" class="th-font">Name</th>
                                    <th scope="col" class="th-font">Type</th>
                                    <th scope="col" class="th-font">DateTime</th>
                                    <th scope="col" class="th-font">Location</th>
                                    <th scope="col" class="th-font">Relevant ParaClause</th>                                
                                    <th scope="col" class="th-font">Status</th>
                                    <th scope="col" class="th-font">Preview</th>
                                </tr>
                            </thead>
                            <tbody id="ctable">
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        <!-- complaints end -->
    </main>
</body>

</html>