<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"> -->
</head>
<% include partials/scripts.ejs %>
    <body onload="loadAllComplaints()">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="images/logo-hry1.png" class="img-responsive" width="110em" height="100em" alt="Organisation">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/newComplaint">Add New Complaint</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
            </div>
        </nav>
        <main class="inline-block">
            <!-- complaints -->
            <div class="container">
                <div id="complaint-heading">
                    <h1 class="text-center">All Suggestions &amp; Objections</h1>
                </div>
                <div class="complaint-table">
<<<<<<< HEAD
                    <table class="" cellspacing="" cellpadding="10">
=======
                    <table class="table-" cellspacing="" cellpadding="10">
>>>>>>> fc93655ce25d35d36e88b0f6979150fbafb5436f
                        <thead class="">
                            <tr>
                                <th scope="col" class="th-font">Id</th>
                                <th scope="col" class="th-font">Name</th>
                                <th scope="col" class="th-font">Type</th>
                                <th scope="col" class="th-font">DateTime</th>
                                <th scope="col" class="th-font">Location</th>
                                <th scope="col" class="th-font">Relevant ParaClause</th>                                
                                <th scope="col" class="th-font">Status</th>
                                <th scope="col" class="th-font">Preview</th>
                            </tr>
                        </thead>
                        <tbody id="ctable">
                        </tbody>
                    </table>
                </div>
            </div>  
        </main>    
    </body>
</html>