<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="style    sheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
</head>
<% include partials/scripts.ejs %>

<body onload="loadAllComplaints()">

   <% include partials/navbar.ejs %>

    <!-- complaints -->
    <p><% user %></p>
    <div class="container mb-5 pb-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between my-5 ">
                        <p class="h4">All Suggestions &amp; Objections</p>
                    </div>
                    <a class="btn secondary white btn-lg" href="/profile">Profile</a>
                    <a class="btn secondary white btn-lg" href="/logout">Logout</a>

                    <button><a href="/newComplaint">Add New Complaint</a></button>
                    <div class="col-12">
                        <table id="ctable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">DateTime</th>
                                <th scope="col">Location</th>
                                <th scope="col">Relevant ParaClause</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                                <th>Preview</th> 
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <!-- complaints end -->
   <!-- <script src="../controllers/complaintsController.js"></script> -->

</body>

</html>