<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <% include partials/scripts.ejs %>
</head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <div class="text-center">
                <h1 class="display-4">
                  Reset Password
                </h1>
            </div>
            <div class="h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <form action="/resetPassword" method="post">
                        <div class="form-group">
                            <label for="email" class="label-font">Email Id</label>
                            <input autofocus required class="form-control input-font" type="email" name="email" id="reset-email" placeholder="Enter your email id">
                        </div>
                        <button type="reset" class="btn btn-primary">Submit</button>
                    </form> 
                </div>
            </div>
        </div>
          
    </body>
</html>
