    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.38/vfs_fonts.js"></script>
  <% include partials/scripts.ejs %>
</head>
<body onload="getParaClauseLinks()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="images/logo-hry1.png" width="110" height="100" alt="Organisation">
            </a>
        <div class="collapse navbar-collapse justify-content-end">
            <a class="btn secondary white btn-lg" href="/logout">Logout</a>
        </div>
    </nav>
      <form action="/complaints/newComplaint" autocomplete="off" method="post" class="container needs-validation" id="myForm" enctype="multipart/form-data" novalidate>
          <div class="form-group">
              <label for="objectionOrSuggestion" class="label-font">Whether Objection/Suggestion</label>
              <select required class="form-control container" name="objectionOrSuggestion" id="objectionOrSuggestion">
                  <option value="" style="display:none" selected disabled>Choose Option</option>
                  <option value="Objection" class="input-font" >Objection</option>
                  <option value="Suggestion" class="input-font">Suggestion</option>
              </select>
              <div class="invalid-feedback">
                  Please fill this field
              </div>
              <div class="valid-feedback">
                  Looks good!
              </div>
          </div>
          <div class="form-group">
            <label for="complaintType" class="label-font">Type</label>
            <select class="form-control container" name="complaintType" id="complaintType" required>
                    <option value="" style="display:none" selected disabled>Choose Complaint Type</option>
                    <option value="Land Use Proposals" class="input-font">Land Use Proposals</option>
                    <option value="Zoning Acquisition" class="input-font">Zoning Acquisition</option>
                    <option value="Infrastructure Provisions" class="input-font">Infrastructure Provisions</option>
                    <option value="Demographic & Population Projections" class="input-font">Demographic &amp; Population Projections</option>
                    <option value="Environment Related" class="input-font">Environment Related</option>
                    <option value="MCA/Control Area/Village Boundary" class="input-font">MCA/Control Area/Village Boundary</option>
                    <option value="Traffic & Transportation" class="input-font">Traffic &amp; Transportation (incl. alignment of Roads)</option>
                    <option value="Others" class="input-font">Others</option>
            </select>
              <div class="invalid-feedback">
                  Please fill this field
              </div>
              <div class="valid-feedback">
                  Looks good!
              </div>
          </div>

          <div class="form-group">
                <label for="location" class="control-label label-font">Location</label>
                <input type="text" id="location" class="form-control input-font" name="location" placeholder="Enter location..." required>

              <div class="invalid-feedback">
                  Please fill this field
              </div>
              <div class="valid-feedback">
                  Looks good!
              </div>
          </div>
          <div class="form-group">
                <label for="paraClause" class="label-font">Relevant Para/Clause</label>
                <input type="text" class="form-control input-font" name="relevantParaClause" placeholder="" id="relevantParaClause" required>
              <div class="invalid-feedback">
                  Please fill this field
              </div>
              <div class="valid-feedback">
                  Looks good!
              </div>
              <div>
                    <ol id="paralinksList">
                    </ol>
                </div>
          </div>
          <div class="form-group">
                <label for="complaintDesc" class="label-font">Complaint Description</label>
                <textarea name="complaintDesc" id="complaintDesc" class="form-control container" required>This is some content</textarea>
                <div class="invalid-feedback">
                    Please fill this field
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
          <div class="form-group">
                <label for="image" class="label-font">Image(s) Or Relevant Document(s)</label>
                <small class="alert-danger">Supported File Formats are .docx,.pdf,.jpeg</small>
                <input type="file" name="image" placeholder="Choose photo" multiple>
            </div>
            <div class="form-group text-center"> <!--onsubmit="openModal()"-->
                <input type="submit" class="label-font" value="Submit" onclick="html2Pdf()">
                <button type="button" onclick="html2Pdf()">PDF</button>
            </div>
      </form>
    <script>
        function init(){
            var options = {
                types: ['(regions)'],
                componentRestrictions: {country : "in"}
            };
            var input = document.getElementById('location');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

    </script>
    <script>

        function html2Pdf(){
            var objOrSug= $('#objectionOrSuggestion :selected').text();
            var type = $('#complaintType :selected').text();
            var relParClause =$('#relevantParaClause')[0].value;
            var location = $('#location')[0].value;
            var compDesc = $('#complaintDesc')[0].value;

            //console.log(objOrSug);
            var docDefinition = {
                content: [
                    {text: 'Complaint Submitted!', style: 'header'},

                    'Thank you for submitting your '+ objOrSug + '\n\n \n',

                    {
                        style: 'tableExample',
                        table: {
                            width: ['*','*',400],
                            body: [
                                [
                                    {
                                        border: [false, false, false, false],
                                        fillColor: '#eeeeee',
                                        text: '\nObjection/Suggestion\n'
                                    },
                                    {
                                        colSpan :2,
                                        fillColor: '#dddddd',
                                        text: '\n'+objOrSug+'\n\n',
                                        //margin: [50, 0, 0, 50]
                                    },
                                    '',

                                ],
                                [
                                    {
                                        border: [false, false, false, false],
                                        fillColor: '#eeeeee',
                                        text: '\nComplaint Type\n'
                                    },
                                    {
                                        colSpan :2,
                                        fillColor: '#dddddd',
                                        text: '\n'+type+'\n\n',
                                        //margin: [50, 0, 0, 50]
                                    },
                                    '',
                                ],
                                [
                                    {
                                        border: [false, false, false, false],
                                        fillColor: '#eeeeee',
                                        text: '\nLocation\n'
                                    },
                                    {
                                        colSpan :2,
                                        fillColor: '#dddddd',
                                        text: '\n'+location+'\n\n',
                                        //margin: [50, 0, 0, 50]
                                    },
                                    '',

                                ],
                                [
                                    {
                                        border: [false, false, false, false],
                                        fillColor: '#eeeeee',
                                        text: '\nRelevant Para/Clause\n'
                                    },
                                    {
                                        colSpan :2,
                                        fillColor: '#dddddd',
                                        text: '\n'+relParClause+'\n\n',
                                        //margin: [50, 0, 0, 50]
                                    },
                                    '',

                                ],
                                [
                                    {
                                        border: [false, false, false, false],
                                        fillColor: '#eeeeee',
                                        text: '\nComplaint Description\n'
                                    },
                                    {
                                        colSpan :2,
                                        rowSpan: 2,
                                        fillColor: '#dddddd',
                                        text: '\n'+compDesc+'\n\n',
                                        //margin: [50, 0, 0, 50]
                                    },
                                    '',

                                ],
                                [
                                    {
                                        border: [false, false, false, false],
                                        fillColor: '#eeeeee',
                                        text: '\n '
                                    },
                                    {
                                        colSpan: 2,
                                        fillColor: '#dddddd',
                                        text: '\n\n',
                                        //margin: [50, 0, 0, 50]
                                    },
                                    '',

                                ],

                            ]
                        }
                    },

                ],
                styles: {
                    header: {
                        fontSize: 36,
                        bold: true,
                        margin: [0, 0, 0, 10],
                        alignment: 'center'
                    },
                    subheader: {
                        fontSize: 16,
                        bold: true,
                        margin: [0, 10, 0, 5]
                    },
                    tableExample: {
                        margin: [0, 5, 0, 15]
                    },
                    tableHeader: {
                        bold: true,
                        fontSize: 13,
                        color: 'black'
                    }
                },
                defaultStyle: {
                    // alignment: 'justify'
                },

            };
            pdfMake.createPdf(docDefinition).open();
        }
    </script>
</body>
</html>
