    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <% include partials/scripts.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
      <a class="btn secondary white btn-lg" href="/logout">Logout</a>
      <form action="/complaints/newComplaint" method="post" class="container">
          <div class="form-group">
              <label for="objectionOrSuggestion" class="label-font">Whether Objection/Suggestion</label>
              <select name="objectionOrSuggestion">
                  <option selected disabled>Choose Option</option>
                  <option value="Objection" class="input-font">Objection</option>
                  <option value="Suggestion" class="input-font">Suggestion</option>
              </select>
          </div>
          <div class="form-group">
            <label for="complaintType" class="label-font">Type</label>
            <select class="form-control container" name="complaintType">
                    <option selected disabled>Choose Complaint Type</option>
                    <option value="Land Use Proposals" class="input-font">Land Use Proposals</option>
                    <option value="Zoning Acquisition" class="input-font">Zoning Acquisition</option>
                    <option value="Infrastructure Provisions" class="input-font">Infrastructure Provisions</option>
                    <option value="Demographic & Population Projections" class="input-font">Demographic &amp; Population Projections</option>
                    <option value="Environment Related" class="input-font">Environment Related</option>
                    <option value="MCA/Control Area/Village Boundary" class="input-font">MCA/Control Area/Village Boundary</option>
                    <option value="Traffic & Transportation" class="input-font">Traffic &amp; Transportation (incl. alignment of Roads)</option>
                    <option value="Others" class="input-font">Others</option>
            </select>
          </div>
          <div class="form-group">
                <label for="location" class="control-label label-font">Location</label>
                <input type="text" id="location" class="form-control input-font" name="location" placeholder="Enter location...">
          </div>
          <div class="form-group">
                <label for="paraClause" class="label-font">Relevant Para/Clause</label>
                <input type="text" class="form-control input-font" name="relevantParaClause" placeholder="">
          </div>
            <div class="form-group">
                <label for="" class="label-font">Complaint Description</label>
                <input id="editor" type="text" class="form-control input-font" name="complaintDesc" cols="30" rows="10" placeholder="Type your complaint here">
            </div>
            <div class="form-group">
                <label for="image" class="label-font">Image</label>
                <input type="file" name="image" placeholder="Choose photo">
            </div>
            <div class="form-group text-center">
                <input type="submit" class="label-font" value="Submit">
            </div>
      </form>
    <script>
        function init(){
            var options = {
                types: ['(regions)'],
                componentRestrictions: {country: "in"}
            };
            var input = document.getElementById('location');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }
    </script>
</body>
</html>
