    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <% include partials/scripts.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
      <a class="btn secondary white btn-lg" href="/logout">Logout</a>
      <form action="/complaints/newComplaint" method="post" class="container">
          <div class="form-group">
              <label for="objectionOrSuggestion">Whether Objection/Suggestion</label>
              <select name="objectionOrSuggestion">
                  <option value="Objection">Objection</option>
                  <option value="Suggestion">Suggestion</option>
              </select>
          </div>
          <div class="form-group">
            <label for="complaintType">Type</label>
            <select class="form-control" name="complaintType">
                    <option value="Land Use Proposals">Land Use Proposals</option>
                    <option value="Zoning Acquisition">Zoning Acquisition</option>
                    <option value="Infrastructure Provisions">Infrastructure Provisions</option>
                    <option value="Demographic & Population Projections">Demographic &amp; Population Projections</option>
                    <option value="Environment Related">Environment Related</option>
                    <option value="MCA/Control Area/Village Boundary">MCA/Control Area/Village Boundary</option>
                    <option value="Traffic & Transportation">Traffic &amp; Transportation (incl. alignment of Roads)</option>
                    <option value="Others">Others</option>
            </select>
          </div>
          <div class="form-group">
                <label for="location" class="control-label">Location</label>
                <input type="text" id="location" class="form-control" name="location" placeholder="Enter location...">
          </div>
          <div class="form-group">
                <label for="paraClause">Relevant Para/Clause</label>
                <input type="text" class="form-control" name="relevantParaClause" placeholder="">
          </div>
            <div class="form-group">
                <label for="">Complaint Description</label>
                <input id="editor" type="text" class="form-control" name="complaintDesc" cols="30" rows="10" placeholder="Type your complaint here">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image" placeholder="Choose photo">
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Submit">
            </div>
      </form>
    <script>
        function init(){
            var options = {
                types: ['(regions)'],
                componentRestrictions: {country: "in"}
            };
            var input = document.getElementById('location');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }
    </script>
</body>
</html>
