<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <style>
        /*Add star around required fields*/
        .form-group:before{
            content: " *";
            color: red;
        }
        /* Adds a box around the numeric value in Safari and Chrome */
        input[type=number]::-webkit-textfield-decoration-container {
            border: 1px #ccc solid;
            background: #efefef;
        }
        /*!* Remove controls from Firefox *!
        input[type=number] {
            -moz-appearance: textfield;
        }
*/
        /*!* Re-applies the controls on :hover and :focus *!
        input[type="number"]:hover,
        input[type="number"]:focus {
            -moz-appearance: number-input;
        }*/

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance : none;
            margin: 0;
        }
        #contact label{
            display: inline-block;

        }
        #contact_submit{
            padding-left: 100px;
        }
        #contact div{
            margin-top: 1em;
        }
        textarea{
            vertical-align: top;
            height: 5em;
        }

        .error{
            display: none;
            margin-left: 10px;
        }

        .error_show{
            color: red;
            margin-left: 10px;
        }
        input.invalid{
            border: 2px solid red;
        }

        input.valid{
            border: 2px solid green;
        }

    </style>
    <% include partials/scripts.ejs %>
</head>

<body onload="curr_validation()">
    <% include partials/navbar.ejs %>
    <div class="container text-center">
        <h1 class="display-4">
            Register
        </h1>
    </div>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
                <form action="/auth/signup" autocomplete="off" id="contact" class="col-md-5 form-horizontal needs-validation" novalidate method="post">
                    <!--First Name-->
                    <div class="form-group">
                        <label for="username" class="control-label label-font">First Name</label>
                        <input class="form-control input-font" id="contact_username" type="text" name="username" placeholder="Enter your firstname" minlength="3" required>
                        <div class="invalid-feedback">
                            Please fill this field
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <!--<span class="error">This field is required</span>-->
                    </div>
                    <!-- Middle Name -->
                    <div class="form-group">
                        <label for="username" class="control-label label-font">Middle Name</label>
                        <input class="form-control input-font" id="contact_username" type="text" name="middleName" placeholder="Enter your firstname" minlength="3">
                        <div class="invalid-feedback">
                            Please fill this field
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="form-group">
                        <label for="username" class="control-label label-font">Last Name</label>
                        <input class="form-control input-font" id="contact_username"  type="text"   name="lastName" placeholder="Enter your firstname" minlength="3" required>
                        <div class="invalid-feedback">
                            Please fill this field
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!--Email-->
                    <div class="form-group">
                        <label for="email" class="control-label label-font">Email Id</label>
                        <input class="form-control input-font" id="contact_email" type="email" name="email" placeholder="Enter your email id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <!--<span class="error">A valid email address is required</span>-->
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a email.
                        </div>
                    </div>
                    <!--Aadhaar Number-->
                    <div class="form-group">
                        <label for="aadharNumber" class="control-label label-font">Aadhar Number</label>
                        <input class="form-control input-font" id="contact_aadharNumber" type="text" pattern="[1-9]{1}[0-9]{11}" name="aadharNumber" placeholder="Enter your 12 digit aadhar number" maxlength="12" minlength="12" required>
                        <!--<span class="error">A valid aadhar number is required</span>-->
                        <div class="invalid-feedback">
                            Please fill this field
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!--Mobile-->
                    <div class="form-group">
                        <label for="mobile" class="control-label label-font">Mobile</label>
                        <input class="form-control input-font" id="contact_mobile" type="text" pattern="[6-9]{1}[0-9]{9}" name="mobile" placeholder="Enter your 10 digit mobile number" maxlength="10" minlength="10" required>
                        <!--<span class="error">A valid number is required</span>-->
                        <div class="invalid-feedback">
                            Please fill this field
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!--Password-->
                    <div class="form-group">
                        <label for="password" class="control-label label-font">Password</label>
                        <input class="form-control input-font" id="contact_password" type="password" name="password" placeholder="Enter your password" maxlength="16" minlength="6" required>
                        <!--<span class="error">This field is required</span>-->
                        <div class="invalid-feedback">
                            Please fill this field
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!--Register Button-->
                    <div class="text-center">
                        <input type="submit" onsubmit="registerUser()" id="contact_submit" value="Register" class="btn secondary white label-font">
                    </div>
                </form>
            <a href="/login" id="toLogin"  class="btn btn-link label-font">Login</a>
        </div>
    </div>  
</body>
</html>