<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <% include partials/scripts.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="container text-center">
        <h1 class="display-4">
            Signup
        </h1>
    </div>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
                <form action="/auth/signup" class="col-md-5 form-horizontal" method="post">
                    <div class="form-group">
                        <label for="username" class="control-label label-font">Username :</label>
                        <input autofocus class="form-control input-font" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label label-font">Email :</label>
                        <input class="form-control input-font" type="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="aadharNumber" class="control-label label-font">Aadhar No. :</label>
                        <input class="form-control input-font" type="number" name="aadharNumber">
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="control-label label-font">Mobile :</label>
                        <input class="form-control input-font" type="number" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label label-font">Password : </label>
                        <input class="form-control input-font" type="password" name="password">
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Signup" class="btn secondary white label-font">
                        <a href="/login" class="btn btn-link label-font">Login</a>
                    </div>
                </form>
        </div>
    </div>
</body>

</html>