<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include partials/scripts.ejs %>

    <style>
        #contact label{
            display: inline-block;
            width: 100px;
            text-align: right;
        }
        #contact_submit{
            padding-left: 100px;
        }
        #contact div{
            margin-top: 1em;
        }

        .error{
            display: none;
            margin-left: 10px;
        }

        .error_show{
            color: red;
            margin-left: 10px;
        }
        input.invalid, textarea.invalid{
            border: 2px solid red;
        }

        input.valid, textarea.valid{
            border: 2px solid green;
        }
    </style>
</head>
<body>
<form id="contact" method="post" action="">
    <!-- Name -->
    <div>
        <label for="contact_name">Name:</label>
        <input type="text" id="contact_name" name="name"/>
        <span class="error">This field is required</span>
    </div>
    <!-- Number -->
    <div>
        <label for="contact_number">Number:</label>
        <input type="text" id="contact_number" name="number" maxlength="10" minlength="10"/>
        <span class="error">A valid number is required</span>
    </div>
    <!-- Email -->
    <div>
        <label for="contact_email">Email:</label>
        <input type="email" id="contact_email" name="email"/>
        <span class="error">A valid email address is required</span>
    </div>
    <!--Website -->
    <div>
        <label for="contact_website">Website:</label>
        <input type="url" id="contact_website" name="website"/>
        <span class="error">A valid url is required</span>
    </div>
    <!-- Message -->
    <div>
        <label for="contact_message">Message:</label>
        <textarea id="contact_message" name="message"></textarea>
        <span class="error">This field is required</span>
    </div>
    <!-- Submit Button -->
    <div id="contact_submit">
        <button type="submit">Submit</button>
    </div>
</form>




<script src="/javascripts/app.js">
</script>
<script>
    $(document).ready(function() {
        //jQuery code goes here

        // Name can't be blank

        $('#contact_name').keyup( function() {
            var input=$(this);
            var is_name=input.val();
            if(is_name){input.removeClass("invalid").addClass("valid");}
            else{input.removeClass("valid").addClass("invalid");}
        });
        $("#contact_number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        $('#contact_number').keyup(function() {
            var input=$(this);
            var re = /^[6-9]{1}[0-9]{9}$/;
            var is_number=re.test(input.val());

            if(is_number){input.removeClass("invalid").addClass("valid");}
            else{input.removeClass("valid").addClass("invalid");}
        });
/*
        function validate_mobile(a)
        {
            var mob_regex=/^[6-9]{1}[0-9]{9}$/;
            if(!(mob_regex.test(a)))
                return false;
            return true;
        }
*/

        // Email must be an email

        /*$('/#contact_email').on('input', function() {
            var input=$(this);
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var is_email=re.test(input.val());
            if(is_email){input.removeClass("invalid").addClass("valid");}
            else{input.removeClass("valid").addClass("invalid");}
        });*/
        $('#contact_email').keyup(function() {
            var input=$(this);
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var is_email=re.test(input.val());
            if(is_email){input.removeClass("invalid").addClass("valid");}
            else{input.removeClass("valid").addClass("invalid");}
        });
// Website must be a website
        $('#contact_website').on('input', function() {
            var input=$(this);
            if (input.val().substring(0,4)=='www.'){input.val('http://www.'+input.val().substring(4));}
            var re = /(http|ftp|https):\/\/[\w-]+(\.[\w-]+)+([\w.,@?^=%&:\/~+#-]*[\w@?^=%&\/~+#-])?/;
            var is_url=re.test(input.val());
            if(is_url){input.removeClass("invalid").addClass("valid");}
            else{input.removeClass("valid").addClass("invalid");}
        });
        // Message can't be blank
        $('#contact_message').keyup(function(event) {
            var input=$(this);
            var message=$(this).val();
            console.log(message);
            if(message){input.removeClass("invalid").addClass("valid");}
            else{input.removeClass("valid").addClass("invalid");}
        });
        // After Form Submitted Validation
        $("#contact_submit button").click(function(event){
            var form_data=$("#contact").serializeArray();
            var error_free=true;
            for (var input in form_data){
                var element=$("#contact_"+form_data[input]['name']);
                var valid=element.hasClass("valid");
                var error_element=$("span", element.parent());
                if (!valid){error_element.removeClass("error").addClass("error_show"); error_free=false;}
                else{error_element.removeClass("error_show").addClass("error");}
            }
            if (!error_free){
                event.preventDefault();
            }
            else{
                alert('No errors: Form will be submitted');
            }
        });

    });
</script>
</body>
</html>