
nav {
	margin-bottom: 10px;
}
main {
	margin-top: 75px;
}
/* .heading {
	position : fixed;
	left: 25%;	
} */
/* .top-margin-table {
	margin-top: 180px;
} */
.option-select {
	width: 100%;
}
#save-btn {
	font-size: 20px;
}
table {
	padding: auto 55px;
}
#table-custom {
	margin-top: 15px;
}
/* table {
	table-layout: fixed;
	width: 100%;
}
th, td {
	word-wrap: break-word;
} */
.complaint-table {
	overflow-x: auto;
}
thead {
	background-color: #2C3E50;
	color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
th {
	text-align: center;
}
.label-font {
	font-size: 20px;
}
.input-font {
	font-size: 18px;
	color : black;
}
.status-box {
	border-radius: 25%;
}
a:hover {
	text-decoration: none;
}

/* Complaint Progress Bar */
.contain {
	width: 100%;
	margin-bottom: 25px;
}
/* .progressbar {

} */
.progressbar li {
	list-style-type: none;
	float: left;
	width: 33.33%;
	position: relative;
	text-align: center;
}
.progressbar li:before {
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid green;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}
.progressbar li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: green;
	top: 8px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	color : green;
}
.progressbar li.active:before {
	background-color : green;
}
/* thead {
	position: fixed;
	overflow-x: auto;
} */
@media (max-width : 768px) {
	/* .heading {
		position : fixed;
		left: 15%;	
	} */
	h1 {
		font-size: 24px !important;
	}
	.td-font {
		font-size: 13px !important;
	}
	.th-font {
		font-size: 15px !important;
	}
}
@media (min-width : 768px){

	#line-pie-container {
		display: flex;
	}
	#myChart {
		position: relative;
		margin: auto;
		height: 50vh;
		width: 90vw;
		/* border: 2px solid gold; */
	}
	#myPieChart {
		position: relative;
		margin: auto;
		height: 60vh;
		width: 30vw;
		/* border: 2px solid green; */
	}
	#myLineChart {
		position: relative;
		margin: auto;
		height: 60vh;
		width: 65vw;
		/* border: 2px solid blueviolet; */
	}
}
/* @media (max-width : 768px){
	#line-pie-container {
		display: flex;
	}
	#myChart {
		position: relative;
		margin: auto;
		height: 60vh;
		width: 90vw;
		border: 2px solid gold;
	}
	#myPieChart {
		position: relative;
		margin: auto;
		height: 60vh;
		width: 90vw;
		border: 2px solid green;
	}
	#myLineChart {
		position: relative;
		margin: auto;
		height: 50vh;
		width: 90vw;
		border: 2px solid blueviolet;
	}
} */
#barChart {
	/* position: relative;
	margin: auto;
	height: 50vh;
	width: 100vw; */
	/* border: 2px solid gold; */
}
#pieChart {
	/* position: relative;
	margin: auto;
	height: 50vh;
	width: 50vw; */
	/* border: 2px solid green; */
}
#lineChart {
	/* position: relative;
	margin: auto;
	height: 50vh;
	width: 50vw; */
	/* border: 2px solid blueviolet; */
}